{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Juegos de Mesa</h1>
        <p class="lead">20 juegos de mesa aleatorios. Si búscas uno en específico, utiliza nuestro buscador en la barra de navegación</p>
        <hr class="my-4">
      </div>
    <div class="row">
        {% for game in games['data'] %}
        <div class="col pt-5">
            <div class="card"  style="width: 18rem; height: 100%;">
                <img class="card-img-top" src="{{ game['image'] }}" alt="Card image cap">
                <div class="card-body align-bottom">
                    <h5 class= 'card-title'>{{ game['title'] }}</h5>
                    <h6 class='card-text'>Tienda: {{ game['permalink'].split('-')[0] }}</h6>
                    <b>Precio: ${{game['price']}}</b>
                    
                </div>
                <a href = "{{ url_for('games' ,permalink=game['permalink']) }}" class="btn btn-primary">Ver más </a>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
    
{% endblock content %}